
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap");

/*==============BLOCK3===============*/

.container {
  width: 80%;
  margin: 0 auto;
}
.block3__h1 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 101.38%;
  color: #000000;
  margin-bottom: 89px;
}
.flexCourseBlock3 {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 179px;
  justify-content: space-between;
  width: 100%;
}

.block3__h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  color: #1e4681;
}
.block3__p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #000000;
}
.block3__h1Whatnew {
  display: flex;
  align-items: center;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 101.38%;
  color: #000000;

  height: 76px;
}
.list-block3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 248px;
}
@media (max-width: 1279px) {
  .h1-block3 {
    margin-bottom: 51.55px;
    font-size: 32px;
    line-height: 101.38%;
  }
  .flexCourseBlock3 {
    margin-bottom: 103.55px;
    justify-content: space-between;
    width: 100%;
  }
  .h3-block3 {
    font-size: 19px;
    line-height: 130%;
  }
  .p-block3 {
    font-size: 14px;
    line-height: 130%;
  }
  .h1Whatnew-block3 {
    font-size: 32px;
    line-height: 101.38%;
    margin-bottom: 12.16px;
  }
  .list-block3 {
    font-size: 21px;
    line-height: 150%;
    margin-bottom: 143.63px;
  }
}
@media (max-width: 991px) {
  .h1-block3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom: 16.66px;
    margin-right: 5px;
  }
  .course-block3 {
    margin-bottom: 15px;
  }
  .flexCourseBlock3 {
    display: block;
    margin-bottom: 73px;
    /* width: 300px; */
  }
  .h3-block3 {
    font-size: 16px;
    line-height: 130%;
  }
  .p-block3 {
    font-size: 13px;
    line-height: 130%;
    margin-bottom: 5px;
    width: 100%;
  }
  .h1Whatnew-block3 {
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom: 9.66px;
  }
  .list-block3 {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 85px;
    padding-right: 2px;
  }
}
/*==============BLOCK4===============*/
.courseprogramm {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 121px;
  gap: 40px;
}

.course-block4 {
  box-sizing: border-box;
  width: 29%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.image-block4 {
  width: 100%;
  padding: 0;
}
.h3-block4 {
  padding-left: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  line-height: 130%;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.p-block4 {
  padding-left: 10px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
.h1-div-block4 {
  width: 100%;
}
.h1-block4 {
  box-sizing: border-box;
  font-family: Roboto Slab;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 95px;
}
@media (max-width: 1279px) {
  .course-block4 {
    width: 30%;
  }
  .h1-block4 {
    font-size: 32px;
    line-height: 101.38%;
    margin-bottom: 55px;
  }
  .h3-block4 {
    font-size: 22px;
    line-height: 130%;
  }
  .p-block4 {
    font-size: 18px;
    line-height: 130%;
  }
}
@media (max-width: 991px) {
  .courseprogramm {
    padding-left: 0px;
    justify-content: center;
    width: 100%;
    margin-bottom: 52.6;
  }
  .course-block4 {
    width: 51%;
    margin-left: 0;
  }

  .h1-block4 {
    box-sizing: border-box;
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom: 35px;
  }

  .h3-block4 {
    font-size: 18px;
    line-height: 130%;
  }
  .p-block4 {
    font-size: 16px;
    line-height: 130%;
  }
}
