/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap'); */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {
  margin: 0 auto;
  /* height: 100%;
        width: 100%; */
  padding: 0;
}

.logo {
  position: relative;
  box-sizing: border-box;
  width: 112px;
  height: 66px;
  margin-left: 121px;
  margin-top: 21px;
}
.data {
  position: relative;
  display: flex;
  gap: 35px;
  flex-direction: row;
  padding-left: 120px;
  padding-top: 97px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
}
.data img {
  margin-right: 5px;
}

.question {
  display: flex;
}

.question-text {
  width: 628px;
  height: 190px;
  padding-left: 122px;
  margin-right: 140px;
}
.question-text h1 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 101.38%;
  margin-top: 29px;
  margin-bottom: 11px;
}

#a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  width: 414px;
  height: 62px;
}

.question-img {
  width: 305px;
  height: 376px;
}

.quote {
  background-color: #1e4681;
  width: 483.63px;
  height: 200px;
  border-radius: 5px;
  margin-left: 409.39px;
  margin-top: 67.62px;
  margin-bottom: 241px;
  box-sizing: border-box;
}

.quote_text {
  width: 430.59px;
  height: 113px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;
  color: #ffffff;
  margin: 0.26px 27.02px 0.74px 26.03px;
  box-sizing: border-box;
  padding-top: 19px;
}

#b {
  margin: 0;
}

#c {
  height: 45.64px;
  margin: 0;
  margin-top: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-align: right;

  color: #ffffff;
}

.about-course h2 {
  margin-bottom: 0;
  width: 365px;
  height: 93px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 101.38%;
  margin-left: 121px;
}

.about {
  margin-left: 121px;
  width: 662px;
  height: 374px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.block-2 {
  display: flex;
  margin-bottom: 94px;
}

.camera img {
  width: 366px;
  height: 344px;
  margin-left: 164px;
  margin-top: 20px;
}

.block-3 {
  display: flex;
}

.block-3-statements {
  display: flex;
  gap: 95px;
  margin-top: 48px;
}

.block-3-img {
  width: 232px;
  height: 219px;
  margin-left: 121px;
  margin-right: 132px;
  /* top: 1619px; */
}

.block-3-statements h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 130%;
  width: 150px;
  height: 39px;
  margin-bottom: 0;
}

.block-3-statements p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  width: 150px;
  height: 39px;
  margin-top: 1px;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  /* This changes a little, but emty spaces from both sides are still large(but now proportionally) */
  /* body{
    max-width: 65vw;
    margin: auto;
    overflow-x: hidden;

  } */

  .logo {
    width: 64.87px;
    height: 38.23px;
    margin-left: 70.08px;
    margin-top: 22px;
  }
  .data {
    gap: 17px;
    padding-left: 70.08px;
    padding-top: 56.18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 115%;
  }

  .question-text {
    width: 363.72px;
    height: 110.04px;
    padding-left: 70.08px;
    margin-right: 81px;
  }

  .question-text h1 {
    font-size: 46px;
  }

  #a {
    font-size: 12px;
    margin: 0;
    width: 264px;
    height: 36px;
    margin-left: 1px;
  }

  .question-img {
    margin-top: 30px;
    width: 58%;
    height: 55%;
  }
  .question-img img {
    width: 176px;
    height: 206px;
  }

  .quote {
    width: 280.11px;
    height: 115.83px;
    margin-left: 237px;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .quote_text {
    width: 249.38px;
    height: 65.45px;
    font-size: 14px;
    padding-top: 13px;
    margin: 0.26px 23.02px 0.74px 15.03px;
  }

  #c {
    font-size: 12px;
  }

  .about-course h2 {
    width: 211.4px;
    height: 53.86px;
    font-size: 32px;
    margin-left: 70.08px;
  }

  .about {
    margin-left: 70.08px;
    width: 383.41px;
    height: 216.61px;
    font-size: 14px;
  }

  .camera img {
    width: 211.98px;
    height: 199.23px;
    margin-left: 95px;
    margin-top: 20px;
  }

  .block-3-img img {
    width: 134.37px;
    height: 117.57px;
    /* margin-right: 76.45px; */
  }

  .block-3-statements {
    gap: 55px;
    margin-top: 25px;
  }

  .block-3-img {
    width: 134.37px;
    height: 117.57px;
    margin-left: 70.08px;
    margin-right: 76.45px;
  }

  .block-3-statements h3 {
    font-size: 15px;
    width: 86.88px;
    height: 22.59px;
  }

  .block-3-statements p {
    font-size: 11px;
    width: 86.88px;
    height: 22.59px;
    margin-top: 1px;
  }

  #d {
    width: 95px;
  }

  .question-text {
    width: 70%;
    height: 300px;
    padding-left: 9%;
    margin-right: 0;
  } 
   .logo {
    width: 64.87px;
    height: 38.23px;
    margin-left: 9%;
    margin-top: 22px;
  }
  .data {
    gap: 35px;
    padding-left: 9%;
    font-size: 14px;
    line-height: 115%;
  }
  .question-text h1 {
    font-size: 53px;
    padding-bottom: 20px;
  }
  .question-img {
    margin-left: 20%;
    margin-top: 30px;
    width: 58%;
    height: 55%;
  }
  .quote {
    margin-left: auto;
    margin-right: auto;
      width: 330px;
      height: 150px;
      margin-top: 0;
      margin-bottom: 50px;
  }
  .quote_text {
    width: 280px;
    height: 100px;
    font-size: 16px;
  }
  #a {
    font-size: 15px;
    width: 350px;
  }
  .about {
    padding-left: 9%;
    width: 44%;
    padding-right: 30px;
    height: 216.61px;
    font-size: 14px;
    margin: 0;
  }
  .camera {
    width: 56%;
  }
  .camera img {
    display: block;
    width: 211.98px;
    height: 199.23px;
    margin-left: auto;
    margin-right: auto;
  }
  .about-course h2 {
    width: 211.4px;
    height: 53.86px;
    font-size: 32px;
    margin-left: 9%;
  }
  .block-3-img {
    width: 15%;
    height: 177px;
    margin-left: 9%;
    margin-right: 76.45px;
  }
  .image2 {
    width: 200px;
  }
  .block-2 {
    display: flex;
    margin-bottom:40px;
  }
  .block-3-statements {
    gap: 30px;
    margin-top: 25px;
  }
  .block-3-statements h3 {
    font-size: 15px;
    width: 150px;
    height: 22.59px;
  }
  .block1 , .block2 , .block3 {
    width: 150px;
  }
  .block-3-statements p {
      font-size: 12px;
      width: 150px;
      height: 22.59px;
      margin-top: 1px;
  }
  #d {
    width: 150px;
  }
}



@media screen and (min-width: 320px) and (max-width: 991px) {
    .logo {
      margin-top: 7%;
  }
  .question {
    display: flex;
    flex-direction: column;
  }
  .globe, .time, .calendar {
    width: 200px;
  }
  .data {
    padding-left: 12%;
  }
  .question {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .question-text {
    width: 100%;
    padding-left: 12%;
    padding-right: 0;
  }
  h1 {
    padding-right: 250px;
  }
  .question-img {
    margin-left: 70%;
    margin-top: 10%;
  }
  #a {
    line-height: 35px;
    height: 150px;
  }
  .question-text h1 {
    font-size: 90px;
  }
  .quote {
    width: 600px;
    height: 250px;
    margin-left: 12%;
    margin-top: 90px;
    margin-bottom: 150px;
  }
  .quote_text {
    padding-left: 20px;
  }
  .block-2 {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .block-3-statements {
    flex-wrap: wrap;
    margin-left: 12%;
    margin-top: 0;
  }
  .about {
    margin-left: 12%;
    width: 100%;
    padding-right: 90px;
    height: 374px;
    font-size: 32px;
  }
  .camera img {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
  }
  .camera {
    width: 100%;
    margin-left: 12%;
  }
  .block-3-img {
    display: none;
  }
  .block1, .block2, .block3 {
    width: 300px;
  }
  .block-3-statements h3 {
    width: 200px;
  }
  .block-3-statements p {
      width: 200px;

    }
}

