@media screen and (min-width: 320px) and (max-width: 991px) {
    .question {
      display: flex;
      flex-direction: column;
    }
    .question {
      display: flex;
      flex-direction: column;
      }
    .data__container {
      display: flex;
      justify-content: space-between;
      width: 500px;
      margin: 0 10%;
      }
    .blockquote__container {
      display: flex;
      justify-content: flex-start;
    }
    .about-course {
      display: flex;
      align-items: center;
      height: 120px;
    }
      #a {
        height: 130px;
        width: 72%;
      }
      .question-text h1 {
        font-size: 100px;
      }
      .question-img {
        display: flex;
        justify-content: end;
        height: 100%; }
    
      .question__container {
        display: flex;
        flex-direction: column;
      }
      .question-text {
        width: 100%;
      }
      .block-2 {
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      .block-3-statements {
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        gap: 30px;
      }
      .about {
        width: 100%;
      }
      .camera {
        justify-content: center;
      }
      .block-3-img {
        display: none;
      }
      .block1, .block2, .block3 {
        width: 245px;
      }
    
    }